= form.inputs :key_details do
  = form.input :name
  ~ form.input :key, :html => {:rows => 5}

= form.buttons do
  = form.commit_button(form.object.new_record? ? 'Add SSH Public Key' : 'Update SSH Public Key')